# .gitignore 
config.py
#ignore all audio files
*.mp3
*.wav
*.ogg
*.opus
*.oga
db/tweets.csv
modules/__pycache__/
__pycache__/
db/
audios.csv
*.pyc
chat.csv
users/
openai_api_key.txt
main.py
uploads/
tmp/
/app.log
calendar_credentials.json
token.json
.env