<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Vectorizar | Audion't</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
  <div class="content-wrapper">
   <p style="color:white;">Archivo subido! Podés volver a Audion't y apretar Listo 🫡</p>
   <!-- send to templates/vectorizar.html to upload another file-->
   <a style="color:white;font-weight: 900;" href="{{user_id}}">Subir otro</a>

   
  </div>
</body>

</html>