<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Videon't</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="content-wrapper">
      <form method="post" enctype="multipart/form-data" id="file-upload-form">
        <div class="file-input-wrapper">
          <label for="file-input">
            <i class="upload-icon"></i>
          </label>
          <input type="file" name="file" id="file-input" />
        </div>
      </form>
    </div>
    <script>
      document
        .querySelector("#file-input")
        .addEventListener("change", function (event) {
          if (event.target.files.length) {
            document.getElementById("file-upload-form").submit();
          }
        });
    </script>
  </body>
</html>
